@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    --main-bg-color: hsl(233, 47%, 7%);
    --card-bg-color: hsl(244, 38%, 16%);
    --accent-color: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-heading: hsla(0, 0%, 100%, 0.6);
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    background-color: var(--main-bg-color);
}

.main-container {
    margin: 1.5rem;
    min-height: fit-content;
    border-radius: 0.5rem;
    background-color: var(--card-bg-color);
    overflow: hidden;
}

.image {
    background-color: var(--accent-color);
}

.desktop-image {
    display: none;
    mix-blend-mode: multiply;
    opacity: 0.75;
}

.mobile-image {
    mix-blend-mode: multiply;
    opacity: 0.75;
}

.text-section {
    padding: 2.5rem 2rem 2rem 2rem;
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2rem;
    color: var(--white);
    margin-bottom: 1rem;
}

span {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2rem;
    color: var(--accent-color);
}

.main-text {
    line-height: 1.5625rem;
    color: var(--main-paragraph);
    mix-blend-mode: normal;
    opacity: 0.75;
    margin-bottom: 2.5rem;
}

.stats {
    display: flex;
    flex-direction: column;
}

.number {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    color: var(--white);
    margin-bottom: 0.125rem;
}

.item {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.75rem;
    color: var(--stat-heading);
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-bottom: 1.5rem;
}

.item.last {
    margin-bottom: 0;
}

/* --MEDIA QUERIES-- */

@media screen and (min-width: 950px) {
    .desktop-image {
        display: block;
        mix-blend-mode: multiply;
        opacity: 0.75;
    }

    .mobile-image {
        display: none;
        object-fit: cover;
    }

    .main-container {
        display: flex;
        flex-direction: row-reverse;
        max-width: 69.375rem;
        max-height: 27.875rem;
        height: fit-content;
    }

    .image {
        width: 50%;
    }

    .text-section {
        width: 50%;
        text-align: start;
        padding: 4.4375rem 5.9375rem 3.6875rem 4.5rem;
    }

    h1 {
        font-size: 2.25rem;
        line-height: 2.75rem;
        margin-bottom: 1.5625rem;
    }

    span {
        font-size: 2.25rem;
        line-height: 2.75rem;
    }

    .main-text {
        margin-bottom: 4.5rem;
    }

    .stats-container {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .stats {
        align-items: flex-start;
    }

    .number {
        margin-bottom: 0.5rem;
    }
}